# Data Science Tools and Ecosystem

### introductory :

###### In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives
- data science languages
- data science libraries
- arithmetic expression
- Data Science Tools

###  data science languages

##### Some of the popular languages that Data Scientists use are:
    1- python
    2- R
    3- rube

#  data science libraries

##### Some of the commonly used libraries used by Data Scientists include:

      1- numpy
      2- pndas
      3- Spark

|Data Science Tools |
|:------------------|
|RStudio            |
|Apache Hadoop      |
|RapidMiner         |

### introducing arithmetic expression
Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

### convert minutes to hours

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author's name
- Lakshmi Holla

- Niveditha Pandith
- khawlah Almajed